<h1>Editing borrowed_book</h1>

<% form_for(@borrowed_book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p>
    <%= f.label :borrowed_date %><br />
    <%= f.datetime_select :borrowed_date %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @borrowed_book %> |
<%= link_to 'Back', borrowed_books_path %>
