<h1>Listing users</h1>

<%= link_to 'New user', new_user_path %>

<table>
  <tr>
    <th>Email</th>
  </tr>

  <% for user in @users %>
    <tr>
      <td><%=h user.email %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% if user.user_type == 'e'  %>
        <td><%= link_to 'Disable', :action => :enable_or_disable, :id => user %></td>
      <% else %>
        <%  if user.user_type == 'd' %>
          <td><%= link_to 'Enable', :action => :enable_or_disable, :id => user %></td>
        <%end%>
      <%end%>
    </tr>
  <% end %>
</table>
<br />