<%#*<div class="depot-form">%>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Enter Details</legend>

    <div>
      <%= f.label :name %>:
      <%= f.text_field :name, :size => 40 %>
    </div>

    <div>
      <%= f.label :email %>:
      <%= f.text_field :email, :size => 40 %>
    </div>

    <div>
      <%= f.label :password, 'Password' %>:
      <%= f.password_field :password, :size => 40 %>
    </div>

    <div>
      <%= f.label :password_confirmation, 'Confirm' %>:
      <%= f.password_field :password_confirmation, :size => 40 %>
    </div>

    <div>
      <%= f.label :address %>:
      <%= f.text_area :address, :rows => 4, :cols => 40%>
    </div>

    <div>
      <%= f.label :phone_number %>:
      <%= f.text_field :phone_number, :rows => 4, :cols => 40%>
    </div>

    <div>
      <%= f.submit "Add User"%> <%#=, :class => "submit" %>
    </div>

  </fieldset>
<% end %>

<%#*</div>%>
